.mainContainer {
  flex: 1;
  max-width: 70%;
  margin: 28px 16%;
  h3 {
    font-size: 36px;
    font-weight: 700;
    margin: 6% 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 4%;
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }
}
